In [13]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn.metrics import accuracy_score
import pickle

In [14]:
df1=pd.read_csv('./IPL Matches 2008-2020.csv')
df1.head(10)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
5,335987,Jaipur,2008-04-21,SR Watson,Sawai Mansingh Stadium,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,Hyderabad,2008-04-22,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,N,NaN,IL Howell,AM Saheba
7,335989,Chennai,2008-04-23,ML Hayden,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,N,NaN,DJ Harper,GA Pratapkumar
8,335990,Hyderabad,2008-04-24,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,N,NaN,Asad Rauf,MR Benson
9,335991,Chandigarh,2008-04-25,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,N,NaN,Aleem Dar,AM Saheba

In [17]:
df2=pd.read_csv("./IPL Ball-by-Ball 2008-2020.csv")
df2.head(15)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
5,335982,1,7,4,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
6,335982,1,7,5,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
7,335982,1,7,6,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
8,335982,1,8,1,BB McCullum,RT Ponting,JH Kallis,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
9,335982,1,8,2,BB McCullum,RT Ponting,JH Kallis,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
10,335982,1,8,3,BB McCullum,RT Ponting,JH Kallis,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
11,335982,1,8,4,BB McCullum,RT Ponting,JH Kallis,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
12,335982,1,8,5,RT Ponting,BB McCullum,JH Kallis,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
13,335982,1,8,6,BB McCullum,RT Ponting,JH Kallis,2,0,2,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
14,335982,1,9,1,RT Ponting,BB McCullum,SB Joshi,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [19]:
df1.shape

(816, 17)

In [18]:
df2.shape

(134452, 18)

In [20]:
data=df1.merge(df2,on='id')
data

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,...,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134447,981003,Raipur,2016-05-20,KK Nair,Shaheed Veer Narayan Singh International Stadium,0,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,field,...,0,0,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Delhi Daredevils
134448,981003,Raipur,2016-05-20,KK Nair,Shaheed Veer Narayan Singh International Stadium,0,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Delhi Daredevils
134449,981003,Raipur,2016-05-20,KK Nair,Shaheed Veer Narayan Singh International Stadium,0,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,field,...,0,0,0,1,run out,S Dhawan,CR Brathwaite,NaN,Sunrisers Hyderabad,Delhi Daredevils
134450,981003,Raipur,2016-05-20,KK Nair,Shaheed Veer Narayan Singh International Stadium,0,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,field,...,0,0,0,0,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Delhi Daredevils
134451,981003,Raipur,2016-05-20,KK Nair,Shaheed Veer Narayan Singh International Stadium,0,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,field,...,0,1,0,0,NaN,N,NaN,NaN,NaN,NaN

In [21]:
data.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2', 'inning',
       'over', 'ball', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [22]:
data.drop(['date', 'city','player_of_match','neutral_venue','toss_winner','toss_decision','method', 'umpire1', 'umpire2','batsman', 'non_striker', 'bowler',
        'batsman_runs','extra_runs','result', 'non_boundary','eliminator','result_margin','dismissal_kind', 'player_dismissed', 'fielder', 'extras_type'], axis='columns',inplace=True)

In [23]:
data.head()

,id,venue,team1,team2,winner,inning,over,ball,total_runs,is_wicket,batting_team,bowling_team
0,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,5,1,0,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,6,1,0,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,1,0,0,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,2,1,0,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,3,1,0,Kolkata Knight Riders,Royal Challengers Bangalore

In [24]:
data1=data.groupby(['id','inning']).sum()['total_runs']
data1

id      inning
335982  1         222
        2          82
335983  1         240
        2         207
335984  1         129
                 ...
980999  2         120
981001  1         124
        2         125
981003  1          97
        2          37
Name: total_runs, Length: 1136, dtype: int64

In [25]:
data1=data1.reset_index()

In [26]:
data1

          id  inning  total_runs
0     335982       1         222
1     335982       2          82
2     335983       1         240
3     335983       2         207
4     335984       1         129
...      ...     ...         ...
1131  980999       2         120
1132  981001       1         124
1133  981001       2         125
1134  981003       1          97
1135  981003       2          37

[1136 rows x 3 columns]

In [27]:
data1=data1[data1.inning==1]
data1

          id  inning  total_runs
0     335982       1         222
2     335983       1         240
4     335984       1         129
6     335985       1         165
8     335986       1         110
...      ...     ...         ...
1126  980995       1         183
1128  980997       1         121
1130  980999       1         211
1132  981001       1         124
1134  981003       1          97

[569 rows x 3 columns]

In [28]:
data1['Target']=data1['total_runs']+1
data1.drop(['total_runs'],axis='columns',inplace=True)
data1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          id  inning  Target
0     335982       1     223
2     335983       1     241
4     335984       1     130
6     335985       1     166
8     335986       1     111
...      ...     ...     ...
1126  980995       1     184
1128  980997       1     122
1130  980999       1     212
1132  981001       1     125
1134  981003       1      98

[569 rows x 3 columns]

In [29]:
data=data.merge(data1,on='id')
data

,id,venue,team1,team2,winner,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,inning_y,Target
0,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,5,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
1,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,6,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
2,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,1,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
3,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,2,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
4,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,3,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134447,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,1,5,4,0,0,Sunrisers Hyderabad,Delhi Daredevils,1,98
134448,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,1,5,5,1,0,Sunrisers Hyderabad,Delhi Daredevils,1,98
134449,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,1,5,6,0,1,Sunrisers Hyderabad,Delhi Daredevils,1,98
134450,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,1,6,1,0,0,Sunrisers Hyderabad,Delhi Daredevils,1,98
134451,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,1,6,2,1,0,NaN,NaN,1,98

In [30]:
data=data[(data.inning_x==2)]
data

,id,venue,team1,team2,winner,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,inning_y,Target
121,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
122,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
123,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
124,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
125,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134373,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,2,0,3,0,0,Delhi Daredevils,Sunrisers Hyderabad,1,98
134374,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,2,0,4,0,0,Delhi Daredevils,Sunrisers Hyderabad,1,98
134375,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,2,0,5,0,0,Delhi Daredevils,Sunrisers Hyderabad,1,98
134412,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,2,0,1,5,0,Delhi Daredevils,Sunrisers Hyderabad,1,98
134413,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,2,0,2,1,0,Delhi Daredevils,Sunrisers Hyderabad,1,98

In [31]:
data.drop(['inning_x','inning_y','team1','team2'],axis='columns',inplace=True)
data.rename(columns={"total_runs":"Run_on_this_ball"},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [32]:
data

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target
121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
...,...,...,...,...,...,...,...,...,...,...
134373,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,3,0,0,Delhi Daredevils,Sunrisers Hyderabad,98
134374,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,4,0,0,Delhi Daredevils,Sunrisers Hyderabad,98
134375,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,5,0,0,Delhi Daredevils,Sunrisers Hyderabad,98
134412,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,1,5,0,Delhi Daredevils,Sunrisers Hyderabad,98
134413,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,2,1,0,Delhi Daredevils,Sunrisers Hyderabad,98

In [34]:
data.batting_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions'], dtype=object)

In [36]:
data.batting_team=data.batting_team.str.replace('Delhi Daredevils','Delhi Capitals')
data.bowling_team=data.bowling_team.str.replace('Delhi Daredevils','Delhi Capitals')

In [37]:
data.batting_team=data.batting_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')
data.bowling_team=data.bowling_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [38]:
data.drop(data[data.batting_team=='Kochi Tuskers Kerala'].index,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [39]:
data.drop(data[data.batting_team=='Pune Warriors'].index,inplace=True)
data.drop(data[data.batting_team=='Rising Pune Supergiants'].index,inplace=True)
data.drop(data[data.batting_team== 'Gujarat Lions'].index,inplace=True)
data.drop(data[data.batting_team=='Rising Pune Supergiant'].index,inplace=True)

In [40]:
data.batting_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad'], dtype=object)

In [41]:
data.bowling_team.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Gujarat Lions'], dtype=object)

In [43]:
data.drop(data[data.bowling_team=='Kochi Tuskers Kerala'].index,inplace=True)
data.drop(data[data.bowling_team=='Pune Warriors'].index,inplace=True)
data.drop(data[data.bowling_team=='Rising Pune Supergiants'].index,inplace=True)
data.drop(data[data.bowling_team== 'Gujarat Lions'].index,inplace=True)
data.drop(data[data.bowling_team=='Rising Pune Supergiant'].index,inplace=True)

In [44]:
teams=data.bowling_team.unique()
teams

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals'], dtype=object)

In [45]:
data.isna().sum()

id                  0
venue               0
winner              7
over                0
ball                0
Run_on_this_ball    0
is_wicket           0
batting_team        0
bowling_team        0
Target              0
dtype: int64

In [46]:
data=data.dropna()

In [47]:
data.isna().sum()

id                  0
venue               0
winner              0
over                0
ball                0
Run_on_this_ball    0
is_wicket           0
batting_team        0
bowling_team        0
Target              0
dtype: int64

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55487 entries, 121 to 134413
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                55487 non-null  int64
 1   venue             55487 non-null  object
 2   winner            55487 non-null  object
 3   over              55487 non-null  int64
 4   ball              55487 non-null  int64
 5   Run_on_this_ball  55487 non-null  int64
 6   is_wicket         55487 non-null  int64
 7   batting_team      55487 non-null  object
 8   bowling_team      55487 non-null  object
 9   Target            55487 non-null  int64
dtypes: int64(6), object(4)
memory usage: 4.7+ MB

In [49]:
data['Ball_Number']=(data['over'])*6+data['ball']
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number
121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38
122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39
123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42
...,...,...,...,...,...,...,...,...,...,...,...
134373,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,3,0,0,Delhi Capitals,Sunrisers Hyderabad,98,3
134374,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,4,0,0,Delhi Capitals,Sunrisers Hyderabad,98,4
134375,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,5,0,0,Delhi Capitals,Sunrisers Hyderabad,98,5
134412,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,1,5,0,Delhi Capitals,Sunrisers Hyderabad,98,1
134413,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,2,1,0,Delhi Capitals,Sunrisers Hyderabad,98,2

In [50]:
data_temp=data[['id','Run_on_this_ball','is_wicket']]

In [51]:
data_temp

            id  Run_on_this_ball  is_wicket
121     335982                 0          0
122     335982                 1          0
123     335982                 1          0
124     335982                 1          0
125     335982                 0          0
...        ...               ...        ...
134373  981003                 0          0
134374  981003                 0          0
134375  981003                 0          0
134412  981003                 5          0
134413  981003                 1          0

[55487 rows x 3 columns]

In [52]:
data_temp=data_temp.groupby('id').cumsum()
data_temp

        Run_on_this_ball  is_wicket
121                    0          0
122                    1          0
123                    2          0
124                    3          0
125                    3          0
...                  ...        ...
134373                31          1
134374                31          1
134375                31          1
134412                36          1
134413                37          1

[55487 rows x 2 columns]

In [53]:
data=data.reset_index()

In [54]:
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42
...,...,...,...,...,...,...,...,...,...,...,...,...
55482,134373,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,3,0,0,Delhi Capitals,Sunrisers Hyderabad,98,3
55483,134374,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,4,0,0,Delhi Capitals,Sunrisers Hyderabad,98,4
55484,134375,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,5,0,0,Delhi Capitals,Sunrisers Hyderabad,98,5
55485,134412,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,1,5,0,Delhi Capitals,Sunrisers Hyderabad,98,1
55486,134413,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,2,1,0,Delhi Capitals,Sunrisers Hyderabad,98,2

In [55]:
data_temp=data_temp.reset_index()
data_temp

        index  Run_on_this_ball  is_wicket
0         121                 0          0
1         122                 1          0
2         123                 2          0
3         124                 3          0
4         125                 3          0
...       ...               ...        ...
55482  134373                31          1
55483  134374                31          1
55484  134375                31          1
55485  134412                36          1
55486  134413                37          1

[55487 rows x 3 columns]

In [56]:
data_temp.rename(columns={"Run_on_this_ball":"Runs"},inplace=True)

In [57]:
data_temp.rename(columns={"is_wicket":"Wickets"},inplace=True)

In [58]:
data_temp

        index  Runs  Wickets
0         121     0        0
1         122     1        0
2         123     2        0
3         124     3        0
4         125     3        0
...       ...   ...      ...
55482  134373    31        1
55483  134374    31        1
55484  134375    31        1
55485  134412    36        1
55486  134413    37        1

[55487 rows x 3 columns]

In [59]:
data[['Runs','Wickets']]=data_temp[['Runs','Wickets']]
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38,0,0
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39,1,0
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40,2,0
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41,3,0
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55482,134373,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,3,0,0,Delhi Capitals,Sunrisers Hyderabad,98,3,31,1
55483,134374,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,4,0,0,Delhi Capitals,Sunrisers Hyderabad,98,4,31,1
55484,134375,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,5,0,0,Delhi Capitals,Sunrisers Hyderabad,98,5,31,1
55485,134412,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,1,5,0,Delhi Capitals,Sunrisers Hyderabad,98,1,36,1
55486,134413,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,2,1,0,Delhi Capitals,Sunrisers Hyderabad,98,2,37,1

In [60]:
data['Balls_Left']=120-data['Ball_Number']
data['Runs_Left']=data['Target']-data['Runs']
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38,0,0,82,223
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39,1,0,81,222
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40,2,0,80,221
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41,3,0,79,220
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42,3,0,78,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55482,134373,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,3,0,0,Delhi Capitals,Sunrisers Hyderabad,98,3,31,1,117,67
55483,134374,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,4,0,0,Delhi Capitals,Sunrisers Hyderabad,98,4,31,1,116,67
55484,134375,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,5,0,0,Delhi Capitals,Sunrisers Hyderabad,98,5,31,1,115,67
55485,134412,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,1,5,0,Delhi Capitals,Sunrisers Hyderabad,98,1,36,1,119,62
55486,134413,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,2,1,0,Delhi Capitals,Sunrisers Hyderabad,98,2,37,1,118,61

In [61]:
data = data[data['id'] != 335982]
data.head(170)

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left
101,225,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,1,4,0,Kings XI Punjab,Chennai Super Kings,241,1,4,0,119,237
102,226,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,2,0,0,Kings XI Punjab,Chennai Super Kings,241,2,4,0,118,237
103,229,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,5,0,0,Kings XI Punjab,Chennai Super Kings,241,5,4,0,115,237
104,230,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,6,4,0,Kings XI Punjab,Chennai Super Kings,241,6,8,0,114,233
105,231,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,1,1,0,Kings XI Punjab,Chennai Super Kings,241,7,9,0,113,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,526,335984,Feroz Shah Kotla,Delhi Daredevils,14,7,0,0,Delhi Capitals,Rajasthan Royals,130,91,52,0,29,78
267,527,335984,Feroz Shah Kotla,Delhi Daredevils,15,1,4,0,Delhi Capitals,Rajasthan Royals,130,91,56,0,29,74
268,553,335984,Feroz Shah Kotla,Delhi Daredevils,0,1,0,0,Delhi Capitals,Rajasthan Royals,130,1,56,0,119,74
269,554,335984,Feroz Shah Kotla,Delhi Daredevils,0,2,0,0,Delhi Capitals,Rajasthan Royals,130,2,56,0,118,74
270,555,335984,Feroz Shah Kotla,Delhi Daredevils,0,3,0,0,Delhi Capitals,Rajasthan Royals,130,3,56,0,117,74

In [62]:
data['Wickets_Left']=10-data['Wickets']
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left,Wickets_Left
101,225,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,1,4,0,Kings XI Punjab,Chennai Super Kings,241,1,4,0,119,237,10
102,226,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,2,0,0,Kings XI Punjab,Chennai Super Kings,241,2,4,0,118,237,10
103,229,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,5,0,0,Kings XI Punjab,Chennai Super Kings,241,5,4,0,115,237,10
104,230,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,6,4,0,Kings XI Punjab,Chennai Super Kings,241,6,8,0,114,233,10
105,231,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,1,1,0,Kings XI Punjab,Chennai Super Kings,241,7,9,0,113,232,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55482,134373,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,3,0,0,Delhi Capitals,Sunrisers Hyderabad,98,3,31,1,117,67,9
55483,134374,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,4,0,0,Delhi Capitals,Sunrisers Hyderabad,98,4,31,1,116,67,9
55484,134375,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,5,0,0,Delhi Capitals,Sunrisers Hyderabad,98,5,31,1,115,67,9
55485,134412,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,1,5,0,Delhi Capitals,Sunrisers Hyderabad,98,1,36,1,119,62,9
55486,134413,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,2,1,0,Delhi Capitals,Sunrisers Hyderabad,98,2,37,1,118,61,9

In [63]:
data.drop(['index'],axis='columns',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [64]:
data

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left,Wickets_Left
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,1,4,0,Kings XI Punjab,Chennai Super Kings,241,1,4,0,119,237,10
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,2,0,0,Kings XI Punjab,Chennai Super Kings,241,2,4,0,118,237,10
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,5,0,0,Kings XI Punjab,Chennai Super Kings,241,5,4,0,115,237,10
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,6,4,0,Kings XI Punjab,Chennai Super Kings,241,6,8,0,114,233,10
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,1,1,0,Kings XI Punjab,Chennai Super Kings,241,7,9,0,113,232,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55482,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,3,0,0,Delhi Capitals,Sunrisers Hyderabad,98,3,31,1,117,67,9
55483,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,4,0,0,Delhi Capitals,Sunrisers Hyderabad,98,4,31,1,116,67,9
55484,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,5,0,0,Delhi Capitals,Sunrisers Hyderabad,98,5,31,1,115,67,9
55485,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,1,5,0,Delhi Capitals,Sunrisers Hyderabad,98,1,36,1,119,62,9
55486,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,0,2,1,0,Delhi Capitals,Sunrisers Hyderabad,98,2,37,1,118,61,9

In [65]:
data.drop(['over','ball','Run_on_this_ball','is_wicket','Ball_Number','Wickets'],axis='columns',inplace=True)
data

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,119,237,10
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,118,237,10
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,115,237,10
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,8,114,233,10
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,9,113,232,10
...,...,...,...,...,...,...,...,...,...,...
55482,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,117,67,9
55483,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,116,67,9
55484,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,115,67,9
55485,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,36,119,62,9
55486,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,37,118,61,9

In [66]:
data['Current RR']=data['Runs']*6/(120-data['Balls_Left'])
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,119,237,10,24.000000
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,118,237,10,12.000000
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,115,237,10,4.800000
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,8,114,233,10,8.000000
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,9,113,232,10,7.714286
...,...,...,...,...,...,...,...,...,...,...,...
55482,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,117,67,9,62.000000
55483,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,116,67,9,46.500000
55484,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,115,67,9,37.200000
55485,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,36,119,62,9,216.000000
55486,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,37,118,61,9,111.000000

In [67]:
data['Required RR']=data['Runs_Left']*6/data['Balls_Left']
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,119,237,10,24.000000,11.949580
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,118,237,10,12.000000,12.050847
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,115,237,10,4.800000,12.365217
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,8,114,233,10,8.000000,12.263158
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,9,113,232,10,7.714286,12.318584
...,...,...,...,...,...,...,...,...,...,...,...,...
55482,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,117,67,9,62.000000,3.435897
55483,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,116,67,9,46.500000,3.465517
55484,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,115,67,9,37.200000,3.495652
55485,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,36,119,62,9,216.000000,3.126050
55486,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,37,118,61,9,111.000000,3.101695

In [68]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [69]:
data['result']=data.apply(result,axis=1)
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,119,237,10,24.000000,11.949580,0
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,118,237,10,12.000000,12.050847,0
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,115,237,10,4.800000,12.365217,0
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,8,114,233,10,8.000000,12.263158,0
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,9,113,232,10,7.714286,12.318584,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55482,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,117,67,9,62.000000,3.435897,0
55483,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,116,67,9,46.500000,3.465517,0
55484,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,31,115,67,9,37.200000,3.495652,0
55485,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,36,119,62,9,216.000000,3.126050,0
55486,981003,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Delhi Capitals,Sunrisers Hyderabad,98,37,118,61,9,111.000000,3.101695,0

In [70]:
data.drop(['winner'],axis='columns',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [71]:
data.describe()

,id,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
count,55386.000000,55386.000000,55386.000000,55386.000000,55386.000000,55386.000000,55386.000000,5.538500e+04,55386.000000
mean,571133.507403,162.801520,74.003719,63.093182,88.797801,7.145651,17.220525,inf,0.439082
std,184771.883515,28.640143,46.886558,33.354093,49.979426,2.466656,46.796625,NaN,0.496280
min,335983.000000,68.000000,0.000000,-2.000000,-15.000000,0.000000,0.000000,-1.110000e+03,0.000000
25%,419113.000000,144.000000,34.000000,35.000000,48.000000,6.000000,3.828571,4.178571e+00,0.000000
50%,548335.000000,164.000000,71.000000,64.000000,88.000000,8.000000,6.700000,9.041096e+00,0.000000
75%,733977.000000,183.000000,111.000000,92.000000,127.000000,9.000000,13.873463,1.635484e+01,1.000000
max,981003.000000,247.000000,223.000000,119.000000,247.000000,10.000000,978.000000,inf,1.000000

In [72]:
data=data[data.Balls_Left>0]

In [73]:
data=data[data.Runs_Left>=0]

In [74]:
data.describe()

,id,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
count,54768.000000,54768.000000,54768.000000,54768.000000,54768.000000,54768.000000,54768.000000,54768.000000,54768.000000
mean,571166.543839,162.848908,73.363734,63.459137,89.485174,7.159911,17.283574,16.867483,0.437938
std,184810.475577,28.616647,46.497616,33.185494,49.549706,2.465825,47.044544,44.213114,0.496138
min,335983.000000,68.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,419113.000000,144.000000,33.000000,35.000000,49.000000,6.000000,3.812500,4.265060,0.000000
50%,548335.000000,164.000000,70.000000,64.000000,89.000000,8.000000,6.666667,9.086546,0.000000
75%,733977.000000,184.000000,110.000000,92.000000,127.000000,9.000000,13.870389,16.333333,1.000000
max,981003.000000,247.000000,223.000000,119.000000,247.000000,10.000000,978.000000,1284.000000,1.000000

In [75]:
data = data.sample(frac = 1)

In [76]:
data

,id,venue,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
38262,598066,Himachal Pradesh Cricket Association Stadium,Mumbai Indians,Kings XI Punjab,184,41,35,143,7,2.894118,24.514286,0
53307,980927,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,171,98,83,73,8,15.891892,5.277108,1
45480,734043,Eden Gardens,Kings XI Punjab,Kolkata Knight Riders,164,77,50,87,7,6.600000,10.440000,0
9875,392213,SuperSport Park,Rajasthan Royals,Royal Challengers Bangalore,106,92,94,14,8,21.230769,0.893617,1
49505,829771,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,112,3,115,109,10,3.600000,5.686957,1
...,...,...,...,...,...,...,...,...,...,...,...,...
40149,729299,Sharjah Cricket Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,151,16,103,135,10,5.647059,7.864078,0
38801,598072,Eden Gardens,Mumbai Indians,Rajasthan Royals,166,76,16,90,7,4.384615,33.750000,1
38880,598073,Eden Gardens,Chennai Super Kings,Mumbai Indians,149,12,99,137,7,3.428571,8.303030,0
144,335983,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,241,76,37,165,9,5.493976,26.756757,0
43336,734005,M Chinnaswamy Stadium,Delhi Capitals,Royal Challengers Bangalore,187,159,83,28,4,25.783784,2.024096,0

In [77]:
data.isnull().sum()

id              0
venue           0
batting_team    0
bowling_team    0
Target          0
Runs            0
Balls_Left      0
Runs_Left       0
Wickets_Left    0
Current RR      0
Required RR     0
result          0
dtype: int64

In [78]:
venues=data.venue.unique()
venues

array(['Himachal Pradesh Cricket Association Stadium', 'Wankhede Stadium',
       'Eden Gardens', 'SuperSport Park', 'M Chinnaswamy Stadium',
       "St George's Park", 'Rajiv Gandhi International Stadium, Uppal',
       'Sharjah Cricket Stadium', 'Feroz Shah Kotla',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Sardar Patel Stadium, Motera',
       'Vidarbha Cricket Association Stadium, Jamtha', 'Kingsmead',
       'OUTsurance Oval', 'De Beers Diamond Oval', 'Barabati Stadium',
       'Sawai Mansingh Stadium', 'Sheikh Zayed Stadium',
       'Dr DY Patil Sports Academy', 'Newlands',
       'Maharashtra Cricket Association Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Dubai International Cricket Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Buffalo Park', 'New Wanderers Stadium',
       'JSCA International Stadium Complex', 'Brabourne Stadium',
       'Subrata Roy Sahara Stadium'], dtype=object)

In [79]:
len(venues)

31

In [80]:
data.venue=data.venue.str.replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')
data.venue=data.venue.str.replace('Punjab Cricket Association IS Bindra Stadium, Mohali','Punjab Cricket Association Stadium, Mohali')
data.venue=data.venue.str.replace('Maharashtra Cricket Association Stadium','Subrata Roy Sahara Stadium')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [81]:
venues=data.venue.unique()
venues

array(['Himachal Pradesh Cricket Association Stadium', 'Wankhede Stadium',
       'Eden Gardens', 'SuperSport Park', 'M Chinnaswamy Stadium',
       "St George's Park", 'Rajiv Gandhi International Stadium, Uppal',
       'Sharjah Cricket Stadium', 'Feroz Shah Kotla',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Sardar Patel Stadium, Motera',
       'Vidarbha Cricket Association Stadium, Jamtha', 'Kingsmead',
       'OUTsurance Oval', 'De Beers Diamond Oval', 'Barabati Stadium',
       'Sawai Mansingh Stadium', 'Sheikh Zayed Stadium',
       'Dr DY Patil Sports Academy', 'Newlands',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Dubai International Cricket Stadium', 'Buffalo Park',
       'New Wanderers Stadium', 'JSCA International Stadium Complex',
       'Brabourne Stadium'], dtype=object)

In [82]:
len(venues)

29

In [83]:
le=LabelEncoder()
LE=LabelEncoder()

In [84]:
data['venue']=LE.fit_transform(data['venue'])
data['batting_team']=le.fit_transform(data['batting_team'])
data['bowling_team']=le.fit_transform(data['bowling_team'])
data

,id,venue,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
38262,598066,9,4,2,184,41,35,143,7,2.894118,24.514286,0
53307,980927,28,4,6,171,98,83,73,8,15.891892,5.277108,1
45480,734043,7,2,3,164,77,50,87,7,6.600000,10.440000,0
9875,392213,26,5,6,106,92,94,14,8,21.230769,0.893617,1
49505,829771,12,6,3,112,3,115,109,10,3.600000,5.686957,1
...,...,...,...,...,...,...,...,...,...,...,...,...
40149,729299,22,6,3,151,16,103,135,10,5.647059,7.864078,0
38801,598072,7,4,5,166,76,16,90,7,4.384615,33.750000,1
38880,598073,7,0,4,149,12,99,137,7,3.428571,8.303030,0
144,335983,17,2,0,241,76,37,165,9,5.493976,26.756757,0
43336,734005,12,1,6,187,159,83,28,4,25.783784,2.024096,0

In [85]:
LE.classes_

array(['Barabati Stadium', 'Brabourne Stadium', 'Buffalo Park',
       'De Beers Diamond Oval', 'Dr DY Patil Sports Academy',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Dubai International Cricket Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Himachal Pradesh Cricket Association Stadium',
       'JSCA International Stadium Complex', 'Kingsmead',
       'M Chinnaswamy Stadium', 'MA Chidambaram Stadium, Chepauk',
       'New Wanderers Stadium', 'Newlands', 'OUTsurance Oval',
       'Punjab Cricket Association Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sardar Patel Stadium, Motera', 'Sawai Mansingh Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Sharjah Cricket Stadium', 'Sheikh Zayed Stadium',
       "St George's Park", 'Subrata Roy Sahara Stadium',
       'SuperSport Park', 'Vidarbha Cricket Association Stadium, Jamtha',
       'Wankhede Stadium'], dtype=object)

In [86]:
le.classes_

array(['Chennai Super Kings', 'Delhi Capitals', 'Kings XI Punjab',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Sunrisers Hyderabad'], dtype=object)

In [87]:
X=data[['batting_team','bowling_team','venue','Runs_Left','Balls_Left','Wickets_Left']]

In [88]:
y=data['result']

In [89]:
X_train,X_test,y_train,y_test=tts(X,y,test_size=0.25)

In [96]:
model=svm.SVC(kernel = 'rbf', random_state = 42, C=1.0,probability=True)

In [97]:
model.fit(X_train,y_train)

SVC(probability=True, random_state=42)

In [98]:
y_pred=model.predict(X_test)

In [99]:
accuracy_score(y_test,y_pred)

0.7395559450774175

In [100]:
X_train

       batting_team  bowling_team  venue  Runs_Left  Balls_Left  Wickets_Left
18074             2             1      8         95          59            10
37920             5             4     28         78          24             8
25343             4             0     13         41          44             7
2312              6             7     18        135          60             9
11914             5             1     16         35          93             2
...             ...           ...    ...        ...         ...           ...
55126             7             2     17          1          64             7
10727             6             3     26        170         108            10
44565             6             3      7        166          82            10
37573             2             1      8         60          18             8
19401             1             7      8         47          25             5

[41076 rows x 6 columns]

In [101]:
model.predict_proba([[6,0,24,78,60,3]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

array([[0.95206964, 0.04793036]])

In [102]:
model.predict([[4,0,24,90,60,6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [103]:
teams

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals'], dtype=object)

In [104]:
venues

array(['Himachal Pradesh Cricket Association Stadium', 'Wankhede Stadium',
       'Eden Gardens', 'SuperSport Park', 'M Chinnaswamy Stadium',
       "St George's Park", 'Rajiv Gandhi International Stadium, Uppal',
       'Sharjah Cricket Stadium', 'Feroz Shah Kotla',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Sardar Patel Stadium, Motera',
       'Vidarbha Cricket Association Stadium, Jamtha', 'Kingsmead',
       'OUTsurance Oval', 'De Beers Diamond Oval', 'Barabati Stadium',
       'Sawai Mansingh Stadium', 'Sheikh Zayed Stadium',
       'Dr DY Patil Sports Academy', 'Newlands',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Dubai International Cricket Stadium', 'Buffalo Park',
       'New Wanderers Stadium', 'JSCA International Stadium Complex',
       'Brabourne Stadium'], dtype=object)

In [105]:
pickle.dump(model,open('Model.pkl','wb'))

In [106]:
Model=pickle.load(open('Model.pkl','rb'))

In [107]:
Model.predict([[4,0,24,90,60,6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [108]:
Model.predict_proba([[6,0,24,78,60,7]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

array([[0.56020583, 0.43979417]])